* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    background: #FFEBAF;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

div div {
    color: #FFEBAF;
    display: flex;
    align-items: center;
    justify-content: center;
}

div div:nth-child(odd) {
    background: #86C4B5;

}

div div:nth-child(2), div div:nth-child(6), div div:nth-child(10) {
    background: #FF7262;
}

div div:nth-child(4), div div:nth-child(8), div div:nth-child(12) {
    background: #FFC761;
}

/* GRID  */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: 100px;
}