/* Por defecto 1em son 16px */

* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

.contact-form {
    font-size: 25px;
}

.contact-form__h2 {
    font-size: 2em;
    color: red;
    /* line-height: 2; */
}