* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
}

.caja {
    margin: 25px;
    width: 220px;
    height: 300px;
}

.caja img {
    height: 100%;
    width: 100%;
    border: 2px solid red;
    object-fit: cover;
    object-position: right;
}