* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
}

body {
    background: #000;
}

.caja {
    margin: 45px;
    width: 220px;
    height: 300px;
    border: 5px solid #f00;
    background: #ff0;
}
