* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 40px;
}


div {
    width: 500px;
    border: 2px solid gray;
}

div img {
    float: right;
    width: 250px;
    margin-right: 10px;
}